/*
    Put all your variables here
*/

$yellow-primary: #ffcb00;
$orange-primary: #ffa100;
$blue-primary: #13568b;
$blue-light: #196fb2;
$blue-dark: #124f80;
$grey: #e8e8e8;
$grey-dark: #7b7b7b;
$font-small: 14pt;
$font-medium: 20pt;
